---
layout: layouts/base.njk
title: Home
---

{% include "partials/header.njk" %}

<main>
  {% include "partials/hero.njk" %}
  {% include "partials/about.njk" %}
  {% include "partials/projects.njk" %}
  {% include "partials/experience.njk" %}
  {% include "partials/contact.njk" %}
</main>

{% include "partials/footer.njk" %}