name: Deploy Eleventy to GitHub Pages Repo

permissions:
  contents: write

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build Eleventy
        run: npm run build

      - name: Deploy to lainx86.github.io
        run: |
          git clone https://${{ secrets.GH_PAT }}@github.com/lainx86/lainx86.github.io target

          rm -rf target/*
          cp -r _site/* target/

          cd target
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add .
          git commit -m "Deploy from Eleventy (GitHub Actions)" || echo "No changes"
          git push
